.orange-bg{
    background-color: #fceae8;
    border-radius: 15px;
}
.carousel-item{
    padding: 20px 30px;
}
.price{
    color: #FF1F76;
}
.btn{
    padding: 10px 20px;
}
.btn:hover{
    background-color: cyan;
}